#err_set_email_code{
    display: block;
    margin-top: 15px;
    margin-left: 251px;
    text-align: left;
}
@media (min-width: 361px) and (max-width:480px){
    #verifyimg{
        margin-left:28px !important;
        height:37px;
    }
    #verifyCodeChange{
        display:inline-block !important;
    }
    .n-footer{
        height:17%;
        margin-top:-123px;
    }

    .err_label{
        border: none !important;
    }
    #err_set_email_code{
        margin-left:32px;
    }
    #setmail_verify-sendbtn{
        display:inline-block;
        margin-top:0
    }
}
@media (max-width:375px){
    .n-footer{
        height: 13%;
        margin-top: -88px;
    }

    .err_label{
        border: none !important;
    }
    #err_set_email_code{
        margin-left:20px;
    }
    #setmail_verify-sendbtn{
        display:inline-block;       
        margin-top:0
    }
}
@media (max-width:360px){
   
    .n-footer{
        margin-top:-83px;
    }
    .chkcode_img{
        margin-left:28px;
        height:37px;
    }

    .err_label{
        border: none !important;
    }
    #err_set_email_code{
        margin-left: 0px;
    }
    #setmail_verify-sendbtn{
        display:inline-block;
        margin-top:0
    }
}
@media (max-width:320px){
    .err_label{
        border: none !important;
    }
    #email{
        border:solid 1px #ddd;
    }
    .resendinput{
        border: solid 1px #ddd;
    }
    .labelbox input, .input_bg input{
        height:17px;
        lie-height:17px;
    }
    #err_set_email_code{
        margin-left: 0px;
        margin-bottom:-8px;
    }
    #err_set_email_code{
        margin-left:12px;
    }
   
    #setmail_verify-sendbtn{
        display:inline-block;        
        margin-top:0
    }
}
@media (min-width:768px) and (max-width:1023px){
    #err_set_email_code{
        margin-left:32%;
    }
    #submit_code{
        width:20%;
    }
    #setmail_verify-sendbtn{
        display:inline-block;
        margin-top:0
    }
}


@media all and (orientation:landscape){
    .regbox{
        width:100%;
    }
    #email{
        border:solid 1px #ddd;
    }
    .resendinput{
        border: solid 1px #ddd;
    }
    #err_set_email_code{
        margin-left: 0px;
    }
    .btn_tip{
        line-height:40px;

    }
    #submit_code{
        width:48%;
        margin-top:0;
    }
    #setmail_verify-sendbtn{       
        display:inline-block;
    }
    .btn_reg_1{
        margin-top:0;
    }

}
@media (min-width:1024px){
    .regbox{
        width:420px;
    }
    #err_set_email_code{
        margin-left: 251px;
        margin-bottom:0px;
    }
    #submit_code{
        width:0;
        margin-top:0;
    }
    #setmail_verify-sendbtn{
        width:0;
    }
    .btn_reg_1{
        margin-top:0;
    }
    #setmail_verify-sendbtn{
        display:inline-block;
        margin-top:0
    }
}
.layout{
    margin:50px auto\9;
}
.wrap .layout{
    margin:50px auto\9;
}
.regbox .fixed_bot{
	margin-left:0px;
}
#verifyimg{
    margin-left:204px;
    top:-9px\9;
}
#setmail_verify-sendbtn{
    display:inline-block\9;
    width:0\9;
    margin-top:-2px\9;
}