html,body,h1,h2,h3,h4,h5,h6,blockquote,p,pre,dl,dd,ol,ul,li,a,span,caption,th,td,form,fieldset,legend,input,button,textarea,address {
	margin: 0;
	padding: 0
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

ol,ul {
	list-style: none
}

li {
	list-style: none
}

fieldset,img {
	border: 0
}

em,tt,i {
	font-style: normal
}

address,cite,dfn,em,var {
	font-style: normal
}

code,kbd,pre,samp {
	font-family: courier new,courier,monospace
}

input,button,textarea,select {
	font-size: 100%
}

input,button,select,textarea {
	outline: none
}

textarea {
	resize: none
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: inherit
}

abbr[title] {
	border-bottom: 1px dotted;
	cursor: help
}

a,a:hover {
	text-decoration: none
}

a,label,:focus {
	outline: 0 none
}

a,img,input {
	border: 0 none
}

s {
	font-style: normal;
	text-decoration: none
}

body {
	font-size: 12px;
	font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif
}

button,input,select,textarea {
	font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif
}

input::-moz-placeholder,textarea::-moz-placeholder {
	color: #3b3b3b;
	font-weight: normal
}

::-webkit-input-placeholder {
	color: #3b3b3b;
	font-weight: normal
}

input:-ms-input-placeholder {
	color: #3b3b3b;
	font-weight: normal
}

::-ms-clear {
	display: none
}

::-ms-reveal {
	display: none
}

.clearfix:after {
	display: block;
	content: "\20";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}

.clearfix {
	*zoom: 1
}

input::-ms-clear {
	display: none
}

input::-ms-reveal {
	display: none
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	a {
		background-color: transparent
	}
}

input {
	background: none;
	border: 0 none
}

input[type="button"],input[type="submit"],input[type="reset"],a {
	-webkit-appearance: none;
	appearance: none
}

.tl-c {
	text-align: center
}

.fl-l {
	float: left
}

.fl-r {
	float: right
}

.fl {
	float: left
}

.fr {
	float: right
}

.nbg {
	background: none !important
}

.t_l {
	text-align: left
}

.t_c {
	text-align: center
}

.t_r {
	text-align: right
}

.c_b:before,.c_b:after {
	content: "";
	display: block
}

.c_b:after {
	clear: both
}

.c_b {
	zoom: 1
}

.hidden,.hide {
	display: none
}

.blockimportant {
	display: block !important
}

.hideimportant {
	display: none !important
}

.underline {
	text-decoration: underline
}

input[type=text]::-ms-clear,input[type=password]::-ms-reveal {
	display: none
}

input {
	color: #333
}

input:required,input:invalid {
	-moz-box-shadow: none;
	box-shadow: none
}

input::-moz-focus-inner {
	border: 0
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset
}

.listwrap {
	margin-bottom: 15px;
	position: relative
}

.tits {
	height: 40px;
	padding-left: 14px;
	line-height: 40px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #e8e8e8;
	color: #555;
	cursor: pointer
}

.tits tt {
	float: left;
	width: 275px;
	border-right: 1px solid #e8e8e8;
	cursor: pointer
}

.icon_cirarr {
	float: right;
	background: url(../images/icon_user.png);
	width: 16px;
	height: 16px;
	margin: 11px 12px 0 12px
}

.country-container {
	width: 100%;
	background: #fff;
	height: 270px;
	line-height: 30px;
	border: 1px solid #e8e8e8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	left: 0;
	top: 41px;
	z-index: 98;
	display: none
}

.country-container .header,.country-container h6 {
	background: #fcdecc;
	padding-left: 10px;
	margin-bottom: 6px;
	line-height: 30px;
	color: #ef5b00 !important
}

.country-container .record,.country-container p {
	padding: 0 10px;
	line-height: 39px;
	clear: both;
	overflow: hidden;
	color: #000;
	border-bottom: 1px solid #e0e0e0;
	*zoom: 1;
	cursor: pointer
}

.country-container .record:hover,.country-container .record.chk,.country-container p:hover,.country-container p.chk {
	background: #eaeaea
}

.country-container .record span {
	height: 39px;
	overflow: hidden
}

.country-container .record-country {
	float: left;
	max-width: 74%;
	color: #000;
	cursor: pointer
}

.country-container .record-code {
	float: right;
	max-width: 20%;
	color: #9d9d9d
}

#select_country_code {
	float: right;
	cursor: pointer
}

.btn_commom_cancel {
	display: none
}

.fixed_countrycode {
	display: none
}

.select_country_code_content .external_logo_area {
	display: none
}

.ar .tits {
	padding: 0 14px 0 0
}

.ar .tits tt {
	float: right;
	border: 0 none;
	border-left: 1px solid #e8e8e8
}

.ar .icon_cirarr {
	float: left
}

.ar .country-container .header,.ar .country-container h6 {
	padding: 0 10px 0 0
}

.ar .country-container .record-country {
	float: right
}

.ar .country-container .record-code {
	float: left
}

.ar #select_country_code {
	float: left
}

.remain {
	margin-left: 8px;
	vertical-align: middle;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e8e8e8
}

.remain a {
	color: #000;
	cursor: pointer;
	padding: 0 10px;
	display: block
}

.remain a:hover {
	background: #ececec !important;
	color: #888
}

.remain .disabled,.remain .noSend {
	background: none !important;
	color: #9d9d9d !important;
	cursor: default !important
}

.remain .disabled:hover,.remain .noSend:hover {
	background: none !important
}

.identitypwd .remain {
	display: none
}

.ar .remain {
	margin: 0 8px 0 0
}

img {
	vertical-align: middle
}

.alg_center {
	text-align: center
}

.hidden {
	display: none
}

.ff6 {
	color: #ff6700
}

.l_block {
	display: block
}

.ftnormal {
	font-weight: normal
}

.lhtnormal {
	line-height: normal
}

.txtindent {
	text-indent: 2em
}

.txtindent_half {
	text-indent: 1.5em
}

.pdtop20 {
	padding-top: 20px
}

.codetip {
	display: none
}

.modal_container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%
}

.modal_msk {
	background: #000;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	filter: alpha(opacity=40);
	position: absolute;
	left: 0;
	top: 0
}

.modal_tip {
	background: #fff;
	margin: 0 auto;
	padding: 0 14px;
	line-height: 30px;
	border: 6px solid #838383;
	border: 6px solid #d1d1d1 \9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #666;
	position: absolute
}

:root .modal_tip {
	border: 6px solid #838383
}

.modal_tip_hd {
	height: 42px;
	padding-top: 13px;
	line-height: 42px;
	border-bottom: 1px solid #e6e6e6;
	position: relative
}

.modal_tip_title {
	color: #1e1e1e;
	font-size: 15px;
	font-weight: bold
}

.modal_tip_close {
	width: 8px;
	height: 8px;
	overflow: hidden;
	position: absolute;
	top: 14px;
	right: 0;
	background: url("../images/icon_tip.png")
}

.acctip_icon,.icon_qst {
	background: url(../images/icon_tip.png);
	_background: url(../images/icon_tip_ie6.png)
}

.acctip_icon_1 {
	background-position: -13px 0;
	width: 14px;
	height: 14px;
	margin: -1px 5px 0 0;
	display: inline-block;
	vertical-align: middle
}

.acctip_icon_2 {
	background-position: -32px 0;
	width: 14px;
	height: 12px;
	margin-right: 10px;
	overflow: hidden;
	display: inline-block
}

.acctip_icon_3,.icon_qst {
	background-position: -13px -15px;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	margin-top: -3px;
	*margin-top: 0px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle
}

.acctip_icon_4 {
	background-position: 0 -61px
}

.acctip_icon_5 {
	background-position: -32px -14px
}

.acctip_icon_6 {
	background-position: -58px 0
}

.acctip_icon_7 {
	background-position: -58px -62px
}

.acctip_icon_8 {
	background-position: 0 -101px;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle
}

.acctip_icon_arrow {
	background-position: 0 -15px;
	width: 5px;
	height: 4px;
	overflow: hidden;
	position: absolute;
	top: 18px;
	right: 10px
}

.icon_select,.icon_select_chkbox {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-top: -4px;
	*margin-top: -2px;
	_margin-top: 0;
	display: inline-block;
	vertical-align: middle
}

.icon_select {
	
}

.icon_select_chkbox {
}

.disten30x103 {
	padding: 30px 60px 0 60px;
	color: #333
}

.disten30x25 {
	padding: 30px 15px 0 15px
}

.disten30x14 {
	padding: 30px 0 0 14px
}

.disten30x35 {
	padding: 30px 0 0 35px
}

.disten20x10 {
	padding: 20px 0 10px 0
}

.disten30x40 {
	padding: 30px 25px 25px
}

.mar30 {
	padding-top: 30px
}

.mar20 {
	padding-top: 20px
}

.mar17 {
	padding-bottom: 17px
}

.mar55 {
	padding: 0 55px
}

.mar10,.pt10 {
	padding-top: 10px
}

.lh20 {
	line-height: 20px
}

.marl15 {
	margin-left: 15px
}

.mardoub30 {
	padding: 0 30px
}

.color333 {
	color: #333
}

.style_h4 {
	font-size: 15px;
	color: #333;
	font-weight: bold
}

.mod_acc_tip {
	background: #fff;
	width: 412px;
	min-height: 300px;
	height: auto;
	padding: 0 14px 30px;
	line-height: 20px;
	border: 1px solid #838383;
	border: 1px solid #d1d1d1 \9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #666;
	position: relative;
	z-index: 4
}

.mod_acc_tip input {
	display: inline-block
}

:root .mod_acc_tip {
	border: 1px solid #838383
}

.wth482 {
	width: 482px
}

.mod_tip_hd {
	height: 42px;
	padding-top: 13px;
	line-height: 42px;
	border-bottom: 1px solid #e6e6e6;
	position: relative
}

.mod_tip_hd h4 {
	font-size: 15px;
	color: #1e1e1e
}

.btn_mod_close {
	width: 22px;
	height: 22px;
	overflow: hidden;
	position: absolute;
	top: 7px;
	right: -7px;
	cursor: pointer;
	background-position: center;
	_background: none;
	_cursor: pointer
}

.btn_mod_close span {
	display: none
}

.mod_tip_bd h3 {
	font-size: 16px;
	padding-bottom: 10px;
	color: #333
}

.mod_tip_bd h4 {
	font-size: 15px;
	padding-bottom: 10px;
	color: #333
}

.mod_tip_bd h6 {
	padding-bottom: 20px;
	color: #333
}

.modify_pwd {
	padding: 30px 60px 0
}

.modify_pwd dt {
	font-size: 15px;
	color: #555;
	font-weight: bold;
	line-height: 30px
}

.modify_pwd label {
	margin-bottom: 6px
}

.modify_pwd input {
	width: 254px
}

.external_logo_area {
	display: none
}

.klogo_status .external_logo_area {
	display: block
}

.code_input,.codetip input {
	width: 75px
}

.chkcode_img {
	vertical-align: top
}

.txt_tip {
	color: #666;
	display: block
}

.txt_tip em {
	display: none
}

.fixdisten a {
	margin: 0
}

.fixdisten .btn1 {
	margin-right: 4px;
	*margin-right: 2px
}

.txt_ff6 {
	padding: 20px 0 10px;
	text-align: center;
	font-size: 18px;
	color: #ff6700
}

.input_bg {
	vertical-align: middle;
	margin-bottom: 6px
}

.input_bg input {
	width: 130px
}

.input_bg .remain_input {
	width: 140px
}

.zh_CN .input_bg .resendinput,.zh_TW .input_bg .resendinput,.zh_HK .input_bg .resendinput {
	width: 150px
}

.in_ID .input_bg .remain_input {
	width: 120px
}

.inputsend {
	margin-bottom: 10px
}

.inputsend .input_bg {
	margin-bottom: 0
}

.identitypwd .resendinput {
	width: 310px !important
}

.set_qst {
	margin: 10px -10px 0 0
}

.set_qst li {
	float: left;
	padding-bottom: 20px;
	margin-right: 10px;
	position: relative
}

.set_qst label {
	_width: 170px
}

.set_qst input {
	width: 152px
}

.set_qst p {
	margin-bottom: 5px
}

.set_qst_tit {
	width: 275px;
	margin-bottom: 6px;
	padding-left: 0;
	position: relative;
	color: #333
}

.set_qst_tit p {
	padding-left: 10px;
	margin-right: 30px;
	border-right: 1px solid #e8e8e8
}

.set_qst_tit span {
	float: left;
	width: 67%
}

.set_qst_tit em {
	float: right;
	margin-right: 30px
}

.set_qst_tit .icon_cirarr {
	position: absolute;
	right: 6px;
	top: 11px;
	margin: 0
}

.set_qst_list {
	background: #fff;
	width: 275px;
	height: 186px;
	line-height: 30px;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
	cursor: pointer;
	position: absolute;
	top: 44px;
	left: 0;
	z-index: 9
}

.set_qst_list h6,.set_qst_list p {
	padding-left: 10px
}

.set_qst_list p:hover,.set_qst_list .chk {
	background: #eaeaea
}

.set_qst_list h6 {
	padding-bottom: 0
}

.setbackphone .set_qst_list,.setbackphone .country-container {
	height: 156px
}

.ans_qst {
	padding-bottom: 20px
}

.success {
	padding-top: 50px
}

.security {
	padding-top: 35px
}

.intro {
	margin-top: 10px;
	line-height: 20px
}

.notice {
	padding-top: 20px
}

.newtab {
	padding: 15px 0 27px
}

.newtab a {
	background: #fff;
	width: 173px;
	height: 52px;
	margin-right: 10px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	font-size: 15px;
	color: #ff6700;
	display: inline-block;
	position: relative
}

.newtab a:hover,.newtab a.now {
	background: #ff6700;
	border: 1px solid #ff6700;
	color: #fff
}

.newtab a:hover .acctip_icon_4,.newtab a.now .acctip_icon_4 {
	background-position: 0 -37px
}

.newtab a:hover .acctip_icon_5,.newtab a.now .acctip_icon_5 {
	background-position: -32px -38px
}

.newtab a:hover i,.newtab a.now i {
	display: block
}

.newtab em {
	width: 20px;
	height: 23px;
	margin-right: 14px;
	display: inline-block;
	vertical-align: middle
}

.newtab i {
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	border-width: 6px;
	border-style: solid;
	border-color: #ff6700 #fff #fff #fff;
	position: absolute;
	top: 53px;
	left: 50%;
	display: none
}

.tabcon {
	line-height: 28px;
	display: none
}

.tabcon span,.tabcon a {
	margin-left: 7px
}

.tabcon span {
	color: #333
}

.tabcon a {
	color: #54aa35;
	font-weight: bold
}

.disten30x76 {
	padding-top: 10px;
	color: #666;
	max-width: 300px;
	margin: 0 auto
}

.disten30x76 label {
	margin-left: 6px
}

.disten30x76 input {
	width: 108px
}

.disabled {
	color: #FFA98B;
	cursor: default
}

.disten30x14 p {
	line-height: 20px
}

.disten30x14 .tip_btns {
	padding: 7px 0 25px;
	text-align: left
}

.plan {
	margin: 10px -10px 0 0
}

.plan li {
	float: left;
	width: 184px;
	height: 201px;
	margin-right: 10px;
	padding: 17px 17px 0;
	border: 1px solid #ffe2d8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.plan dt {
	margin-bottom: 12px;
	line-height: 53px;
	font-size: 16px;
	color: #ff6700
}

.plan em {
	width: 53px;
	height: 53px;
	margin-right: 9px;
	display: inline-block;
	vertical-align: middle
}

.alink {
	color: #333
}

.alink a {
	margin-right: 10px;
	color: #333;
	font-weight: bold
}

.alink p {
	margin-top: 22px;
	line-height: 22px
}

.alink span {
	color: #54aa35
}

.fb_mobile p {
	margin-top: 0
}

.security_keys {
	width: 360px;
	margin: 0 auto;
	padding: 30px 0 0 0
}

.mi_code {
	width: 322px;
	margin: 10px 0 15px;
	padding: 25px 18px;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.mi_code span {
	width: 109px;
	padding: 0 25px;
	line-height: 35px;
	color: #333;
	display: inline-block
}

.mi_code .out {
	color: #9d9d9d;
	text-decoration: line-through
}

.lh20 .ff6 {
	margin: 0 5px;
	font-weight: bold
}

.tabbar_panel {
	padding-top: 30px
}

.binding {
	padding: 30px 30px 0
}

.binding dt {
	padding-bottom: 10px;
	font-size: 15px;
	color: #555;
	font-weight: bold
}

.binding dd {
	position: relative
}

.binding input {
	width: 255px
}

.binding img {
	display: inline-block
}

.zindex_4 {
	z-index: 4
}

.chkcode input {
	width: 115px
}

.fixpos {
	margin: 10px 32px 0;
	position: relative
}

.f_n {
	float: none;
	display: inline-block
}

.w200 input {
	width: 200px
}

.doub_ln {
	margin-bottom: 10px;
	line-height: 20px;
	word-break: break-all
}

.disten30x90 {
	padding: 30px 50px 0 50px
}

.set_qst_block li {
	padding-bottom: 10px
}

.set_qst_block li input {
	width: 290px;
	*padding-top: 6px
}

.set_qst_block li p {
	margin-bottom: 5px
}

.codetip input {
	width: 75px
}

.identity_way_list h4 {
	padding-left: 30px
}

.verify-mod-list-empty h4 {
	padding-left: 0
}

.md_way {
	padding: 0 30px;
	color: #666
}

.md_way li {
	margin-top: 10px;
	cursor: pointer
}

.md_way .now .acctip_icon_8 {
	background-position: 0 -85px
}

.md_unavailable li {
	list-style-type: disc;
	cursor: default
}

.fixbottom {
	width: 100%;
	padding-top: 20px
}

.fixbottom a:hover {
	text-decoration: underline
}

.fixbottom .txt_qst {
	margin-top: 0;
	margin-bottom: 10px
}

.txt_qst {
	margin-top: 20px;
	text-align: center
}

.txt_qst a:hover {
	text-decoration: underline
}

.btn_disable_token {
	_width: auto
}/*!登录保护添加信任设备*/.icon_true,.icon_false,.icon_circle {
	width: 15px;
	height: 15px;
	margin: -3px 6px 0 0;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle
}

.icon_true,.icon_false {
	background: url(../images/icon_user.png);
	_height: 19px
}

.icon_true {
	background-position: -17px 0;
	_background-position: -17px 3px
}

.icon_false {
	background-position: -33px 0;
	_background-position: -33px 3px
}

.mod_trust {
	padding-top: 10px
}

.token_chk_area {
	cursor: pointer;
	margin-bottom: 10px;
	display: inline-block
}

.token_chk_area .icon_token_chk {
	float: left;
	margin: 2px 10px 0 0
}

.token_chk_area h4 {
	display: inline-block
}

.icon_mibao {
	background: url(../images/icon_kbao.png);
	width: 140px;
	height: 140px;
	margin: 0 auto
}

.icon_mibao1 {
	background-position: 0px 0
}

.icon_mibao2 {
	background-position: -140px 0
}

.icon_mibao3 {
	background-position: -280px 0
}

.icon_mibao4 {
	background-position: -420px 0
}

.mod_cancel {
	padding: 15px 10px 0;
	font-size: 14px
}

.mod_cancel h5 {
	line-height: 20px;
	color: #333
}

.mod_cancel p {
	font-size: 12px
}

.tip_cancel {
	line-height: normal;
	display: none
}

.tip_agree {
	padding-top: 20px;
	cursor: pointer
}

.icon_circle {
	background: url(../images/icon_circle.png)
}

.cancel_disabled {
	padding: 40px 20px;
	font-size: 14px
}

.flush_none {
	padding-left: 50px;
	padding-right: 50px
}

.rember_mibaoqst {
	padding: 30px 20px 0 20px
}

.set_mibao {
	width: 302px;
	margin: 0 auto
}

.set_mibao li {
	padding-bottom: 15px
}

.set_mibao p {
	margin-bottom: 5px
}

.set_mibao .i_selectbox {
	float: none;
	margin-bottom: 5px
}

.set_mibao .input_bg {
	display: block
}

.set_mibao .input_bg input {
	width: 280px;
	display: block
}

.set_mibao .i_selectoption {
	width: 100%
}

.set_mibao .i_currentselected {
	padding-right: 20px
}

.hide {
	display: none
}

.setbakphone_error {
	margin-left: 62px
}

.fail_identify {
	width: 300px;
	margin: 0 auto
}

.mailstep1,.phonestep1 {
	padding: 30px 68px 0
}

.mailstep2,.phonestep2 {
	padding: 30px 55px 0 55px
}

.regbox {
	width: 332px;
	margin: 0 auto;
	padding: 40px 0;
	line-height: 20px
}

.inputbg {
	padding-bottom: 5px
}

.inputbg input {
	width: 310px;
	*margin-top: 8px
}

.w300 {
	width: 300px;
	margin: 0 auto
}

.contacts_box {
	padding-top: 20px;
	line-height: 42px
}

.contacts_box dt,.contacts_box dd {
	float: left;
	margin-bottom: 10px
}

.contacts_box input {
	width: 200px;
	*width: 210px
}

.contacts_box .chkcode input {
	width: 150px
}

.getaddress {
	width: 340px;
	margin: 0 auto
}

.getaddress .regbox {
	padding: 10px 0
}

.getaddress .inputcode {
	padding-top: 10px
}

.getaddress .chkcode .code {
	width: 170px
}

.identity_phone_effect {
	width: 300px;
	margin: 0 auto
}

.description {
	padding: 30px 0 15px 0
}

.txt_link {
	color: #9d9d9d
}

.txt_link a:hover {
	text-decoration: underline
}

.twostep_trustinfo,.n_checked {
	cursor: pointer
}

.twostep_trustinfo label,.n_checked label {
	cursor: pointer
}

.twostep_trustinfo.now .icon_select,.n_checked.now .icon_select {
}

.twostep_trustinfo {
	margin-top: 20px;
	display: inline-block
}

.n_checked.now .icon_select_chkbox {
}

.logout_area {
	padding: 20px 20px 0
}

.num_list {
	padding: 0 15px 10px
}

.num_list li {
	padding-top: 6px
}

.logout_unable,.confirm_txt {
	padding: 30px 0
}

.icon_warning {
	display: none
}

.tip_thirdbind {
	width: 280px;
	margin: 0 auto;
	padding-top: 30px;
	color: #333
}

.bindtip_imgarea {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	overflow: hidden
}

.bindtip_imgarea img {
	width: 100%;
	height: 100%
}

.thirdbind_userinfo {
	padding: 6px 0 10px;
	text-align: center
}

.auth_txt_box {
	width: 240px;
	margin: 0 auto;
	padding-top: 10px
}

.auth_cancel_list {
	max-height: 160px;
	margin: 10px 0 20px;
	padding-left: 15px;
	color: #999;
	overflow: auto
}

.auth_cancel_list li {
	list-style: disc
}

.bind_auth_ctr,.fixed_ctr {
	position: fixed
}

.bind_auth_ctr .mod_acc_tip,.fixed_ctr .mod_acc_tip {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -206px
}

.privacy_box {
	margin-top: 20px;
	padding-top: 10px;
	text-align: center;
	border-top: 1px solid #e6e6e6
}

.identify_newph {
	padding: 0 20px
}

.identity_ph_lists {
	width: 300px;
	margin: 0 auto 10px
}

.identity_ph_lists li {
	float: left;
	width: 50%
}

.identity_ph_lists .n_checked {
	padding: 6px 0
}

.identity_ph_fill {
	width: 250px;
	margin: 10px auto 0
}

.identity_ph_fill li {
	margin-bottom: 10px;
	line-height: 42px
}

.identity_ph_fill li input {
	width: 150px
}

.identity_ph_fill .fill_contacts_input {
	margin-left: 10px
}

.idnumberbox {
	padding: 20px 60px 0
}

.idnumberlist {
	padding: 5px 0 0 15px
}

.idnumberlist li {
	list-style-type: disc
}

.ph_panel_tit {
	padding: 20px 20px 10px 60px;
	font-size: 14px
}

.ph_list_panel {
	padding: 0 60px
}

.ph_del_panel {
	padding: 0 40px
}

.ph_del_tit {
	padding-top: 20px;
	font-size: 14px;
	color: #333
}

.ph_del_box {
	padding-top: 10px
}

.ph_del_box p {
	margin-bottom: 5px
}

.ph_del_success {
	padding-top: 20px
}

.fill_center_box .labelbox {
	margin: 0 5px
}

.fill_center_box input {
	width: 190px
}

.fill_center_box input,.fill_center_box span {
	font-size: 15px
}

.ph_del_confirm {
	padding-top: 30px
}

.ph_del_confirm .ph_del_tit {
	padding-bottom: 30px
}

.pt_BR .inputsend .input_bg input {
	width: 110px
}

.binding .country-container {
	width: 275px
}

.phonestep1 .country-container {
	height: 186px
}

.ar .disten30x14 {
	padding: 30px 14px 0 0
}

.ar .disten30x35 {
	padding: 30px 35px 0 0
}

.ar .marl15 {
	margin: 0 15px 0 0
}

.ar .btn_mod_close {
	right: auto;
	left: 0
}

.ar .acctip_icon_3,.ar .icon_qst {
	margin: -3px 0 0 5px
}

.ar .icon_select,.ar .icon_select_chkbox {
	margin: 0 0 0 5px
}

.ar .set_qst_tit p {
	padding: 0 10px 0 0;
	margin: 0 0 0 30px;
	border: 0 none;
	border-left: 1px solid #e8e8e8
}

.ar .set_qst_tit span {
	float: right
}

.ar .set_qst_tit em {
	float: left;
	margin: 0 0 0 30px
}

.ar .set_qst_tit .icon_cirarr {
	right: auto;
	left: 6px
}

.ar .acctip_icon_8 {
	margin: 0 0 0 5px
}

.ar .newtab {
	padding: 15px 0 27px
}

.ar .newtab a {
	margin: 0 0 0 10px
}

.ar .newtab em {
	margin: 0 0 0 14px
}

.ar .tabcon {
	line-height: 28px;
	display: none
}

.ar .tabcon span,.ar .tabcon a {
	margin: 0 7px 0 0
}

.ar .disten30x76 label {
	margin-left: 0;
	margin-right: 6px
}

.ar .disten30x14 .tip_btns {
	text-align: right
}

.ar .identity_way_list h4 {
	padding-left: 30px
}

.ar .verify-mod-list-empty h4 {
	padding-left: 0
}

.ar .icon_true,.ar .icon_false,.ar .icon_circle {
	margin: -3px 6px 0 0
}

.ar .token_chk_area .icon_token_chk {
	float: right;
	margin: 2px 0 0 10px
}

.ar .set_mibao .i_currentselected {
	padding: 0 0 0 20px
}

.ar .contacts_box dt,.ar .contacts_box dd {
	float: right
}

.ar .auth_cancel_list {
	padding-left: 0;
	padding-right: 15px
}

.ar .identity_ph_lists li {
	float: right
}

.ar .identity_ph_fill .fill_contacts_input {
	margin-left: 0;
	margin-right: 10px
}

.ar .idnumberlist {
	padding: 5px 15px 0 0
}

.n-footer {
	color: #9d9d9d;
	text-align: center;
	height: 80px;
	margin-top: -80px
}

.nf-intro {
	padding: 10px
}

.nf-link-area {
	text-align: center
}

.nf-link-area li {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.nf-link-area a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0 10px;
	color: #757575
}

.nf-link-area a:hover,.nf-link-area a.current {
	color: #333
}

.faq_link a {
	padding: 0 10px
}

.err_tip,.err_tip_independ {
	margin-bottom: 5px;
	line-height: 20px;
	font-size: 12px;
	color: #ff6700;
	display: none
}

.icon_error,.err_tip_independ {
	_background-image: none;
}

.icon_error {
	width: 14px;
	height: 14px;
	margin: -1px 5px 0 0;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle
}

.error_bg {
	border: 1px solid #ff6700 !important
}

.err_tip_independ {
	background-position: 0px 3px;
	padding-left: 20px
}

.err_tip span {
	vertical-align: middle
}

.err_label {
	border: 1px solid #ff6700 !important
}

.ar .icon_error {
	margin: -1px 0 0 5px
}

.ar .err_tip_independ {
	background-position: 100% 3px;
	padding: 0 20px 0 0
}

.msk {
	background: #000;
	width: 100%;
	height: 100%;
	position: fixed;
	_position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	display: none;
	opacity: 0.4;
	filter: alpha(opacity=40)
}

.popup_mask {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
	_position: absolute;
	_height: 1000px
}

.popup_mask .bkc {
	position: absolute;
	width: 100%;
	height: 200%;
	left: 0;
	top: 0;
	background-color: #333;
	opacity: 0.7;
	filter: alpha(opacity=70)
}

.loadingmask {
	-webkit-animation: rotate-loading 1.5s linear infinite;
	-moz-animation: rotate-loading 1.5s linear infinite;
	-o-animation: rotate-loading 1.5s linear infinite;
	-ms-animation: rotate-loading 1.5s linear infinite;
	animation: rotate-loading 1.5s linear infinite;
	width: 50px !important;
	height: 50px !important;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
	background-repeat: no-repeat;
}

@-webkit-keyframes rotate-loading {
	from {
		-webkit-transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(360deg)
	}
}

@-moz-keyframes rotate-loading {
	from {
		-moz-transform: rotate(0deg)
	}

	to {
		-moz-transform: rotate(360deg)
	}
}

@-o-keyframes rotate-loading {
	from {
		-o-transform: rotate(0deg)
	}

	to {
		-o-transform: rotate(360deg)
	}
}

@-ms-keyframes rotate-loading {
	from {
		-ms-transform: rotate(0deg)
	}

	to {
		-ms-transform: rotate(360deg)
	}
}

@keyframes rotate-loading {
	from {
		transform: rotate(0deg)
	}

	to {
		transform: rotate(360deg)
	}
}

.remain {
	margin-left: 8px;
	vertical-align: middle;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e8e8e8
}

.remain a {
	color: #000;
	cursor: pointer;
	padding: 0 10px;
	display: block
}

.remain a:hover {
	background: #ececec !important;
	color: #888
}

.remain .disabled,.remain .noSend {
	background: none !important;
	color: #9d9d9d !important;
	cursor: default !important
}

.remain .disabled:hover,.remain .noSend:hover {
	background: none !important
}

.identitypwd .remain {
	display: none
}

.ar .remain {
	margin: 0 8px 0 0
}

.marauto {
	margin: 0 auto
}

.pdtop20 {
	padding-top: 20px
}

.bgfff {
	background: #fff
}

.color333 {
	color: #333
}

.color555 {
	color: #555 !important
}

.ff6 {
	color: #ff6700
}

.ft14 {
	font-size: 1px
}

.ft15 {
	font-size: 2px
}

.ft16 {
	font-size: 3px
}

.ftw {
	font-weight: bold
}

.ftnormal {
	font-weight: normal
}

.underline {
	text-decoration: underline
}

.mt20 {
	margin-top: 20px
}

.mt30 {
	margin-top: 30px
}

.marboth20 {
	margin: 20px 0
}

.marboth30 {
	margin: 30px 0
}

.pt20 {
	padding-top: 20px
}

.pb30 {
	padding-bottom: 30px
}

.pb20 {
	padding-bottom: 20px
}

.pb10 {
	padding-bottom: 10px
}

.pb5 {
	padding-bottom: 5px
}

.pb15 {
	padding-bottom: 15px
}

.pb40 {
	padding-bottom: 40px
}

.pt5 {
	padding-top: 5px
}

.pt10 {
	padding-top: 10px
}

.pt25 {
	padding-top: 25px
}

.pt60 {
	padding-top: 60px
}

.pb0 {
	padding-bottom: 0 !important
}

body {
	background: #f9f9f9;
	color: #666
}

a {
	color: #46639c
}

.a_critical {
	color: #ababab
}

.a_critical:hover {
	color: #ff7e00
}

input {
	color: #333
}

::-webkit-input-placeholder {
	color: #9d9d9d
}

input:-ms-input-placeholder {
	color: #9d9d9d
}

.cursor_d {
	cursor: default !important
}

.pchide {
	display: none !important
}

html,body {
	height: 100%
}

.wrapper {
	width: 100%;
	min-height: 100%;
	height: auto;
	display: -webkit-box;
	display: box;
	display: -moz-box;
	display: -o-box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	box-align: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	box-pack: center
}

.wrap {
	padding-bottom: 80px;
	padding-top: 100px \9
}

@media screen and (min-width: 0\0) {
	.wrap {
		padding-top: 100px
	}
}

.blockimportant .wrap {
	padding-top: 0 \9
}

@media screen and (min-width: 0\0) {
	.blockimportant .wrap {
		padding-top: 0
	}
}

.layout {
	width:100%;  /*!important*/
	width:30%\9;
	margin: 0 auto;
	padding-bottom: 10px
}

.n-logo-area {
	padding: 50px 0;
	height: 31px;
	line-height: 31px
}

.logout {
	font-size: 14px;
	color: #ababab
}

.logout:hover {
	color: #ff6700
}

.beianlink {
	color: #9d9d9d
}

.n-frame {
	background: #fff;
	padding: 34px 34px 0;
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	min-height: 400px;
	_height: 400px
}

.device-frame {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	padding-top: 0
}

.title-big,.title-bigger,.title-biggest,.title-normal,.title_big30 {
	font-size: 16px;
	color: #333;
	line-height: 1.5;
	font-weight: bold
}

.title-normal {
	color: #555
}

.title-big {
	font-size: 20px
}

.title-bigger {
	font-size: 24px
}

.title-biggest {
	font-size: 28px
}

.title_big30 {
	font-size: 30px;
	font-weight: normal
}

.title_middle {
	font-size: 16px
}

.external_logo_area {
	padding-bottom: 40px;
	display: block
}

.klogo {
	width: 49px;
	height: 48px;
	margin: 0 auto;
	display: block;
	cursor: default;
	background-image: url(../images/logo.png)
}

.title-item {
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
	clear: both
}

.device-frame {
	padding-bottom: 30px
}

.device-frame .title-item {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0
}

.dis_bot35 {
	padding-bottom: 35px
}

.chkcode_img {
	margin-left: 7px;
	vertical-align: middle;
	cursor: pointer
}

.uplode_img {
	line-height: 35px;
	position: relative
}

.uplodefile {
	height: 35px;
	line-height: 30px;
	font-size: 0;
	*font-size: 20px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	opacity: 0.01;
	filter: alpha(opacity=1)
}

.uplodefile {
	width: 202px
}

.uplode_img 
.btn_commom {
	width: 200px;
	margin: 0
}

.icon_select {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-top: -4px;
	*margin-top: -2px;
	_margin-top: 0;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/icon_select);_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../images/select1.png")
}

.n_checked.now .icon_select,.checkbox .now .icon_select,.checkbox_container.now .icon_select {
}



.icon_radio_list {
	background: url(../images/icon_tip.png);
	_background: url(../images/icon_tip_ie6.png);
	background-position: 0 -101px;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle
}

.disabled {
	color: #FFA98B !important;
	cursor: default !important
}

.disabled:hover {
	background: #ff6f3d !important
}

.input_disabled {
	background: #eee
}

.input_disabled input {
	background: #eee
}

.md_way {
	padding: 0 30px;
	color: #666
}

.md_way li {
	margin-top: 10px;
	cursor: pointer
}

.md_way .now .icon_radio_list {
	background-position: 0 -85px
}

.time_panel {
	line-height: 40px
}

.time_panel li {
	float: left;
	margin-right: 10px;
	position: relative
}

.select_droplist {
	display: block;
	cursor: pointer;
	border: 1px solid #e8e8e8
}

.timecon {
	float: left;
	padding-left: 10px;
	border-right: 1px solid #e8e8e8
}

.tits_list {
	background: #fff;
	width: 100%;
	height: 156px;
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
	position: absolute;
	left: 0;
	top: 41px;
	z-index: 98;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box
}

.tits_list p {
	padding-left: 10px;
	line-height: 26px
}

.tits_list p:hover {
	background: #eaeaea
}

.cancel_panel {
	display: none
}

.ar {
	direction: rtl
}

.ar .fl,.ar .fl-l {
	float: right
}

.ar .fr,.ar .fl-r {
	float: left
}

.ar .n-account-area {
	right: auto;
	left: 36px
}

.ar .chkcode_img {
	margin: 0 7px 0 0
}

.ar .na-info {
	float: right;
	text-align: left;
	margin: 0 0 0 10px
}

.ar .icon_select {
	margin: 0 0 0 5px
}

.ar .icon_tanhao {
	margin: 0 -5px 0 0
}

.ar .icon_radio_list {
	margin: 0 0 0 5px
}

.ar .tits_list p {
	padding: 0 10px 0 0
}

.msk {
	background: #000;
	width: 100%;
	height: 100%;
	position: fixed;
	_position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	display: none;
	opacity: 0.4;
	filter: alpha(opacity=40)
}

.popup_mask {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
	_position: absolute;
	_height: 1000px
}

.popup_mask .bkc {
	position: absolute;
	width: 100%;
	height: 200%;
	left: 0;
	top: 0;
	background-color: #333;
	opacity: 0.7;
	filter: alpha(opacity=70)
}

.loadingmask {
	-webkit-animation: rotate-loading 1.5s linear infinite;
	-moz-animation: rotate-loading 1.5s linear infinite;
	-o-animation: rotate-loading 1.5s linear infinite;
	-ms-animation: rotate-loading 1.5s linear infinite;
	animation: rotate-loading 1.5s linear infinite;
	width: 50px !important;
	height: 50px !important;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
	background-repeat: no-repeat;
}

@-webkit-keyframes rotate-loading {
	from {
		-webkit-transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(360deg)
	}
}

@-moz-keyframes rotate-loading {
	from {
		-moz-transform: rotate(0deg)
	}

	to {
		-moz-transform: rotate(360deg)
	}
}

@-o-keyframes rotate-loading {
	from {
		-o-transform: rotate(0deg)
	}

	to {
		-o-transform: rotate(360deg)
	}
}

@-ms-keyframes rotate-loading {
	from {
		-ms-transform: rotate(0deg)
	}

	to {
		-ms-transform: rotate(360deg)
	}
}

@keyframes rotate-loading {
	from {
		transform: rotate(0deg)
	}

	to {
		transform: rotate(360deg)
	}
}

.labelbox,.input_bg,.tits_list,.borderbox {
	border: 1px solid #e8e8e8
}

.labelbox,.input_bg {
	height: 40px;
	line-height: 40px;
	display: inline-block
}

.labelbox input,.input_bg input {
	height: 20px;
	line-height: 20px;
	padding: 10px;
	display: inline-block
}

.mod_acc_tip {
	border: 0 none
}

:root .mod_acc_tip {
	border: 0 none
}

.mod_acc_tip {
	width: 100%
}

.btn_mod_close {
	display: none
}

.modal_tip_title {
	font-size: 20px;
	text-align: center;
	line-height: normal;
	font-size: 30px;
	font-weight: normal
}

.modal_tip_hd {
	height: auto;
	padding-top: 0;
	border-bottom: none
}

.mod_tip_bd {
	width: 332px;
	margin: 0 auto
}

.disten30x103 {
	padding: 30px 0
}

.disten30x103 h6 {
	margin-top: 10px
}

.input_bg {
	margin-bottom: 0
}

.input_bg .resendinput {
	min-width: 130px;
	max-width: 180px
}

.zh_CN .input_bg .resendinput,.zh_TW .input_bg .resendinput,.zh_HK .input_bg .resendinput {
	width: 180px
}

.en .input_bg .resendinput {
	width: 170px
}

.in_ID .input_bg .resendinput {
	width: 140px
}

.inputsend {
	margin-bottom: 5px
}

.identitypwd .resendinput {
	width: 310px;
	max-width: 330px
}

.btn_tip {
	width: 330px;
	height: 42px;
	margin: 0 auto;
	line-height: 42px;
	text-align: center;
	font-size: 14px;
	display: block;
	cursor: pointer;
	border: 1px solid #e8e8e8
}

.btn_commom {
	background-color: #4ca8d8;
	margin-top: 15px;
	border: 1px solid rgba(186,186,186,0.3);
	*border: 0 none;
	color: #fff
}

.btn_back {
	background-color: #fff;
	color: #555
}

.btn_commom:hover {
	background: #79b5d4
}

.btn_back:hover {
	color: #333
}

.page332_btns_two {
	text-align: center
}

.page332_btns_two .btn_tip {
	width: 110px;
	margin: 0 2px;
	height: 33px;
	line-height: 33px;
	display: inline-block
}

.w300,.identity_phone_effect,.getaddress {
	width: 100%
}

.identity_phone_effect,.identitycodebox {
	padding-bottom: 20px
}

.disten20x10 {
	padding-top: 30px
}

.disten20x10 h4 {
	color: #333
}

.contacts_box {
	padding-bottom: 20px
}

.contacts_box dt {
	margin-right: 10px
}

.contacts_box input {
	width: 220px
}

.identity_way_list {
	padding: 30px 20px
}

.verify-mod-list-empty {
	padding: 30px 0
}

.flush_none {
	padding-bottom: 30px
}

.disten30x90 {
	padding: 30px 0 0
}

.disten30x90 .set_qst_block li input {
	width: 310px
}

.idnumberbox {
	padding: 20px 0 0
}

.ar .contacts_box dt {
	margin-right: 0;
	margin-left: 10px
}