#submit_button{
    width:100%;
}
.country_tips{
    display:none;
}
.wrap{
    width:100%;
}
.regbox{
    width:100%;
}
#verifyimg{
    margin-top:0;
    margin-left:4px;
    height:37px;
}
.inputbg input{
    width:162%;
}
.labelbox-user{
    width:57%;
}
#submit_code{
    width:48%;
}
#setmail_verify-sendbtn{
    width:20%;
}
#code-captcha{
    border:1px solid #e8e8e8;
}
.inputbg #email{
    border: 1px solid #e8e8e8;
}
@media all and (orientation:landscape){
    #err_set_email_code{
        margin-left:23%;
    }
}

@media (min-width:768px) and (max-width:1023px){
    .regbox{
        width:62%;
    }
    .inputbg input{
        border:1px solid #d3d3d3;
    }
    #submit_code{
        width:20%;
    }
    .resendinput{
        border:1px solid #e8e8e8;
    }
    #submit_button{
        width:97%;
    }
}
