<include file='Common/head' />
<div class="top">
    <div class="logo">
        <a ><img src="__PUBLIC__/images/logo.png" alt="云服务logo" style="width:52px;"></a>
    </div>
</div>
<div class="suc_content">
    <div class="suc_kuang">
        <div class="hei_513"><!--这个是用于放内容的中间块-->
            <div class="info">
				<span class="left_name">
				  <span class="m_func">常见问题-FAQ</span>
				</span>
            </div>
            <div class="faqList">
                <div class="faq_layout">
                    <div class="faq_container">
                        <dl class="faq_list_dl clearfix">
                            <dt class="dt_l">
                            <p class="faq_title">基础知识：</p>
                            </dt>
                            <dd class="dd_r clearfix faqBasis1">
                                <a class="faq-question">- 云帐号是什么，有什么用</a>
                            </dd>
                            <dt class="dt_l">
                            <p class="faq_title">登录帐号：</p>
                            </dt>
                            <dd class="dd_r clearfix faqLogin1">
                                <a class="faq-question">- 为何无法正常登录</a>
                                <a class="faq-question">- 邮箱邮件无法获取</a>
                            </dd>
                            <dt class="dt_l">
                            <p class="faq_title">注册帐号：</p>
                            </dt>
                            <dd class="dd_r clearfix faqRegisterBind1">
                                <a class="faq-question">- 为何注册时需要绑定邮箱</a>
                                <a class="faq-question">- 为何有些情况下无法收到验证邮件</a>
                                <a class="faq-question">- 为何无法正常使用邮箱注册</a>
                                <a class="faq-question">- 您必须年满多少岁才能注册云帐号？</a>
                            </dd>
                            <dt class="dt_l">
                            <p class="faq_title">密保设置：</p>
                            </dt>
                            <dd class="dd_r clearfix faqSecret1">
                                <a class="faq-question">- 密保是什么，有什么用</a>
                                <a class="faq-question">- 为何绑定或修改密保（邮箱）时,需要进行安全验证</a>
                                <a class="faq-question">- 为何绑定密保（邮箱）时，提示已经绑定了其他帐号</a>
                                <a class="faq-question">- 如何解除密保（邮箱）的绑定</a>
                                <a class="faq-question">- 绑定的密保（邮箱）不可用了怎么办</a>
                            </dd>
                            <dt class="dt_l">
                            <p class="faq_title">删除帐号：</p>
                            </dt>
                            <dd class="dd_r clearfix faqDelAccount1">
                                <a class="faq-question">- 删除帐号意味着什么</a>
                                <a class="faq-question">- 如何删除帐号</a>
                            </dd>
                            <dt class="dt_l">
                            <p class="faq_title">云服务：</p>
                            </dt>
                            <dd class="dd_r clearfix faqServicePhone1">
                                <a class="faq-question">- 为何云服务中关联的邮箱账号不是绑定邮箱账号</a>
                                <a class="faq-question">- 为何米聊中关联的多个联系方式（邮箱）没有显示在云帐号中</a>
                            </dd>
                            <dt class="dt_l">
                            <p class="faq_title">第三方绑定：</p>
                            </dt>
                            <dd class="dd_r clearfix faqSns1">
                                <a class="faq-question">- 为何无法正常绑定SNS（新浪微博，QQ）</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="faqList-faqBasis" style="display:none">
                <!-- 基础知识-->
                <div class="faq_layout faqBasis">
                    <div class="faq_container">
                        <dl class="clearfix">
                            <dt class="dt_l">
                            <div class="faq_reson">
                                <h4 class="faq_reson_title">基础知识：</h4>
                                <ul>
                                    <li class="faq_reson_detail">
                                        <!-- <a href="faqBasis.html" class="faq-question current">小米帐号是什么，有什么用</a> -->
                                        <a href="javascript:void(0);" class="faq-question current">云帐号是什么，有什么用</a>
                                    </li>
                                </ul>
                            </div>
                            </dt>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">云帐号是您使用云服务所有服务时所需要的用户系统，通过注册和登录云帐号，您可以：</p>
                                <ul class="faq_tips_container2">
                                    <li><p>• 使用云服务，主题市场，应用商店，MIUI论坛等以MIUI为中心的衍生产品。</p></li>
                                    <li><p>• 登录米聊，联络老朋友，认识新朋友。</p></li>
                                    <li><p>• 登录米吧，认识一群爱唱歌爱漂亮的朋友。</p></li>
                                    <li><p>• 登录云服务官网和云服务社区，在线购物，结识好友，反馈意见问题。</p></li>
                                    <li><p>• 登录多看阅读，体验专业的排版设计，全新的阅读交互，“多看书，多交友”。</p></li>
                                </ul>
                                <p class="faq_p">如果您使用过上述任何一个产品，即表示您已经拥有了云帐号，您的帐号名和密码可以用来登录其他任一云服务。您注册时绑定的邮箱、生成的云服务ID、以及您之后绑定的密保邮箱都可以作为云帐号名。</p>
                                <p class="faq_p">还没有云帐号吗？赶快<a  class="action_link" target="_blank">注册一个</a>吧！</p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <!-- 登录账号-->
                <div class="faq_layout faqLogin">
                    <div class="faq_container">
                        <dl class="clearfix">
                            <dt class="dt_l">
                            <div class="faq_reson">
                                <h4 class="faq_reson_title">登录帐号：</h4>
                                <ul>
                                    <li class="faq_reson_detail">
                                        <!-- <a href="faqLogin.html" class="faq-question current">为何无法正常登录</a>  --> <a href="javascript:void(0);" class="faq-question current">为何无法正常登录</a> <a  class="faq-question">短信无法获取</a> </li>
                                </ul>
                            </div>
                            </dt>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">无法正常登录，原因有以下几种可能：</p>
                                <ul class="faq_tips_container">
                                    <li> <p class="faq_tips_title">有违规操作</p> <p class="faq_tips_detail">您曾经在登录帐号后，执行了一些违规操作，如发广告贴等。帐号被暂时冻结。您可以：</p> <p class="faq_tips_detail">- 等待一段时间后重试。</p> <p class="faq_tips_detail"><a href="" class="action_link">- 联系客服</a></p> </li>
                                    <li> <p class="faq_tips_title">多次输入错误密码</p> <p class="faq_tips_detail">您在登录帐号时，多次输入错误密码，导致帐号被暂时冻结。您可以：</p> <p class="faq_tips_detail">- 等待1小时后重试。</p> </li>
                                </ul>
                            </dd>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">邮箱邮件无法获取，原因有以下几种可能：</p>
                                <ul class="faq_tips_container">
                                    <li> <p class="faq_tips_title">被运营商屏蔽</p> <p class="faq_tips_detail">您曾将此类通知短信向运营商投诉为垃圾邮件，使得邮件被运营商屏蔽</p> <p class="faq_tips_detail">- 需要您联系运营商解决此问题</p> <br /> </li>
                                    <li> <p class="faq_tips_title" id="1" name="1">邮箱黑名单设置</p> <p class="faq_tips_detail">您曾经在邮箱邮件中设置了比较严苛拦截的拦截规则</p> <p class="faq_tips_detail">- 查看邮箱黑名单设置</p> <p class="faq_tips_detail">- 以MIUIv5为例，进入拨号-&gt;菜单-&gt;骚扰拦截-&gt;设置，分别查看拦截模式与黑白明单是否能允许云帐号登录邮件的到达 </p> <br /> <p><img src="__PUBLIC__/images/smsblank.png" width="300" /> </p> </li>
                                    <li> <p class="faq_tips_title" id="2" name="2">浏览器隐私设置</p> <p class="faq_tips_detail">浏览器设置安全等级过高或者设置了阻止“第三方Cookie和网站数据”的设置</p> <p class="faq_tips_detail">- 重新设置浏览器安全等级或者关闭浏览器“阻止第三方Cookie”的设置</p> <p class="faq_tips_detail">- 以Chrome 35为例，chrome-&gt;设置-&gt;隐私设置-&gt;内容设置</p> <br /> <p> <img src="__PUBLIC__/images/chromeCookie.jpg" width="400" /> </p> </li>
                                    <li> <p class="faq_tips_title" id="3" name="3">邮件发送超过当天限制</p> <p class="faq_tips_detail">为避免邮件轰炸，以及资源浪费，每个云帐号最多每天发送十条邮件，每个邮箱账号每天最多发送十条短信。</p> <p class="faq_tips_detail">- 当天不能再登录需要验证邮箱的服务。</p> </li>
                                    <li> <p class="faq_tips_title" id="3" name="3">网络延时</p> <p class="faq_tips_detail">由于网络或地域问题，服务器发出的验证信息有可能存在一定延时</p> <p class="faq_tips_detail">- 耐心等待，或读秒完成后重试</p> </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <!--注册账号-->
                <div class="faq_layoutm faqRegisterBind">
                    <div class="faq_container">
                        <dl class="clearfix">
                            <dt class="dt_l">
                            <div class="faq_reson">
                                <h4 class="faq_reson_title">注册帐号：</h4>
                                <ul>
                                    <li class="faq_reson_detail">
                                        <!-- <a href="faqRegisterBind.html" class="faq-question current">为何注册时需要绑定邮箱或手机</a>--> <a href="javascript:void(0);" class="faq-question current">为何注册时需要绑定邮箱</a> </li>
                                    <li class="faq_reson_detail"> <a  class="faq-question">为何有些情况下无法收到验证邮件</a> </li>
                                    <li class="faq_reson_detail"> <a  class="faq-question">为何无法正常使用邮箱注册</a> </li>
                                    <li class="faq_reson_detail"> <a  class="faq-question">您必须年满多少岁才能注册云帐号</a> </li>
                                </ul>
                            </div>
                            </dt>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">您注册云帐号后，可以通过云帐号使用云服务、云币中心、米聊等多项云服务。为了维护您帐号安全性，在注册过程中我们要求您提供部分个人资料，其中包括邮箱。他们会成为您帐号的绑定密保，主要用于找回密码和修改密保，保护帐号安全：</p>
                                <ul class="faq_tips_container">
                                    <!-- <li> <p class="faq_tips_title">手机号码</p> <p class="faq_tips_detail">手机号码是一种最简单且最可靠的帐号保护方式。由于您的手机是您随身携带的，因此如果您忘记了密码，我们就可以提供一些较为简单的方法帮助您重新访问帐号。并且我们可以通过验证您的手机号码阻止对您帐号的非正常访问。</p> </li>-->
                                    <li> <p class="faq_tips_title">邮箱地址</p> <p class="faq_tips_detail">电子邮件地址具有长期固定的特征，不易丢失或变更。提供此地址，有助于保护您帐号安全和找回密码，同时也为小米服务发送通知提供媒介。并且我们可以通过验证您的邮箱地址阻止对您帐号的非正常访问。</p> </li>
                                </ul>
                                <p class="faq_p">相关问题：<a  class="action_link">- 密保是什么，有什么用</a></p>
                            </dd>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">无法收到验证邮件，原因有以下几种可能：</p>
                                <ul class="faq_tips_container">
                                    <li> <p class="faq_tips_title">输入地址错误</p> <p class="faq_tips_title">您可能在输入邮箱时，输入错误，验证邮件未能发送到您的地址。您可以：</p> <p class="faq_tips_detail">- 检查手机邮箱是否填写正确，返回并重新输入</p> </li>
                                    <li> <p class="faq_tips_title">我们的服务器发送有延迟</p> <p class="faq_tips_title">由于网络或地域问题，服务器发送验证信息受通讯网络讯号和运营商支持影响，可能存在一定延时。您可以：</p> <p class="faq_tips_detail">- 点击“重新发送”，服务器再发送一遍验证邮件。</p> <p class="faq_tips_detail"><a href="" class="action_link">- 联系客服</a></p> </li>
                                </ul>
                            </dd>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">无法正常使用邮箱注册，原因有以下几种可能：</p>
                                <ul class="faq_tips_container">
                                    <li> <p class="faq_tips_title">您注册时使用的邮箱已经绑定另一云帐号。为保障帐号安全，一个邮箱只能绑定一个云帐号。您可以：</p> <p class="faq_tips_detail">- 更换未绑定云账户的邮箱重新注册。</p> <p class="faq_tips_detail">- 使用已绑定云帐号的邮箱直接登录。</p> </li>
                                    <li> <p class="faq_tips_title">您多次使用同一设备电脑注册云帐号，导致注册功能或需要注册的邮箱被暂时封禁。为防止多次注册无效帐号的不良注册行为，我们为同一设备注册帐号次数设置了上限，用户使用同一设备注册帐号的次数到达上限后，注册功能被暂时封禁。您可以：</p> <p class="faq_tips_detail">- 等待一段时间后重试。</p> <p class="faq_tips_detail"><a href="" class="action_link">- 联系客服。</a></p> </li>
                                </ul>
                            </dd>
                            <dd class="dd_r clearfix">
                                <h4 class="faq_p">注册云帐号的年龄限制</h4>
                                <p style="margin-left:20px;" class="faq_tips_detail">要符合云帐号的注册资格，您必须至少年满13岁</p>
                            </dd>

                        </dl>
                    </div>
                </div>
                <!--密保设置-->
                <div class="faq_layout faqSecret">
                    <div class="faq_container">
                        <dl class="clearfix">
                            <dt class="dt_l">
                            <div class="faq_reson">
                                <h4 class="faq_reson_title">密保设置：</h4>
                                <ul>
                                    <li class="faq_reson_detail">
                                        <!-- <a href="faqSecret.html" class="faq-question current">密保是什么，有什么用</a> --> <a href="javascript:void(0);" class="faq-question current">密保是什么，有什么用</a> </li>
                                    <li class="faq_reson_detail"> <a  class="faq-question">为何绑定或修改密保（邮箱）时,需要进行安全验证</a> </li>
                                    <li class="faq_reson_detail"> <a  class="faq-question">为何绑定密保（邮箱）时，提示已经绑定了其他帐号</a> </li>
                                    <li class="faq_reson_detail"> <a  class="faq-question">如何解除密保（邮箱）的绑定</a> </li>
                                    <li class="faq_reson_detail"> <a  class="faq-question">绑定的密保（邮箱）不可用了怎么办</a> </li>
                                </ul>
                            </div>
                            </dt>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">保护帐号安全的相关工具称作密保，顾名思义也就是密码保护。您注册时绑定的邮箱，以及注册之后新绑定的邮箱都属于密保工具。</p>
                                <p class="faq_p">忘记密码时可以通过您绑定的邮箱找回密码。在执行影响帐号安全的相关操作时，我们也会通过验证密保来确认用户身份。设置并完善密保信息有助于保护您帐号安全和找回密码，同时也为云服务发送通知提供媒介。</p>
                                <p class="faq_p">还没有绑定密保邮箱吗？快来<a href="http://localhost/cloud/index.php/Home/Index/security" class="action_link" target="_blank">完善密保信息</a>吧！</p>
                                <p class="faq_p">相关问题：<a class="action_link  action_link_active">- 为何注册时需要绑定邮箱</a></p>
                            </dd>

                            <dd class="dd_r clearfix">
                                <p class="faq_p">在登录帐号修改密保时，对原密保进行安全验证，可防止别有用心的人侵用您的帐号。</p>
                                <p class="faq_p">由于密保邮箱可以用来找回密码、恢复帐号，在帐号安全的保障中扮演极其重要的角色。密保信息（邮箱）的安全直接影响到帐号的安全，所以在修改密保时，我们通过发送验证邮件的方式，确认执行修改操作的是用户本人。</p>
                                <p class="faq_p">具体步骤：<br /> 修改密保 ——&gt; 云帐号安全验证 ——&gt; 设置新密保 ——&gt; 完成</p>
                            </dd>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">一般用户只有一个邮箱地址，由于云帐号牵涉到实体交易，如充值支付、购买商品等，我们需要对云帐号用户的唯一性提出一定要求。为避免由于密保丢失或被多人使用导致的帐号财产损失，一个邮箱只能绑定一个云帐号。</p>
                                <p class="faq_p">您需要绑定的邮箱可能之前已经与另一云帐号绑定，所以无法与当前云帐号绑定。</p>
                                <p class="faq_p">您可以：</p>
                                <p class="faq_p faq_tips_detail" style="margin-bottom:0;">- 更换未绑定小米账户的邮箱重新绑定。</p>
                                <p class="faq_p faq_tips_detail">- 使用已绑定云帐号的邮箱直接登录。</p>
                                <p class="faq_p">相关问题：<a  class="action_link action_link_active1">- 为何无法正常使用邮箱注册</a></p>
                            </dd>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">设置并完善密保信息有助于保护您帐号安全和找回密码，同时也为云服务发送通知提供媒介。我们鼓励绑定完善的密保信息，在绑定密保后，暂不提供解除绑定的功能。</p>
                                <p class="faq_p">您需要绑定的邮箱可能之前已经与另一云帐号绑定，所以无法与当前云帐号绑定。</p>
                                <p class="faq_p">如遇特殊情况需解除绑定时，您可以：</p>
                                <p class="faq_p faq_tips_detail" style="margin-bottom:0;">- 修改密保信息，新密保覆盖旧密保</p>
                                <p class="faq_p faq_tips_detail"><a class="action_link">- 联系客服</a></p>
                            </dd>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">由于手机和邮箱的丢失或更换，导致密保工具不可用时，您可以通过验证老密保或验证其他密保的方式更改密保信息。<br /> </p>
                                <p class="faq_p faq_tips_detail">如：更改绑定手机，需要验证原绑定邮箱。</p>
                                <p class="faq_p">如果所有密保信息都不可用，无法验证，您可以通过<a  class="action_link action_link_active2" target="_blank">申请人工审核</a>的方式修改密保信息。</p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <!--删除账号-->
                <div class="faq_layout faqDelAccount">
                    <div class="faq_container">
                        <dl class="clearfix">
                            <dt class="dt_l">
                            <div class="faq_reson">
                                <h4 class="faq_reson_title">删除帐号：</h4>
                                <ul>
                                    <li class="faq_reson_detail">
                                        <!-- <a href="faqDelAccount.html" class="faq-question current">删除帐号意味着什么</a>  --> <a href="javascript:void(0);" class="faq-question current">删除帐号意味着什么</a> </li>
                                    <li class="faq_reson_detail"> <a class="faq-question">如何删除帐号</a> </li>
                                </ul>
                            </div>
                            </dt>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">删除帐号意味着帐号所有相关信息将永久丢失，包括用户名、密码、米币、交易记录，论坛帖，云同步信息等。帐号将不复存在。</p>
                                <p class="faq_p">删除后无法再找回帐号，是危险操作，需慎重！</p>
                            </dd>

                            <dd class="dd_r clearfix">
                                <p class="faq_p">由于删除帐号属于危险操作，后果严重，我们不提供由用户控制的删除功能。</p>
                                <p class="faq_p">如遇特殊情况需删除帐号时，您可以：</p>
                                <p class="faq_p faq_tips_detail"><a  class="action_link">- 联系客服</a></p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <!--云服务-->
                <div class="faq_layout faqServicePhone">
                    <div class="faq_container">
                        <dl class="clearfix">
                            <dt class="dt_l">
                            <div class="faq_reson">
                                <h4 class="faq_reson_title">云服务：</h4>
                                <ul>
                                    <li class="faq_reson_detail">
                                        <!-- <a href="faqServicePhone.html" class="faq-question current">为何云服务中关联的手机号不是绑定手机号</a> --> <a href="javascript:void(0);" class="faq-question current">为何云服务中关联的邮箱账号不是绑定的邮箱账号</a> </li>
                                    <li class="faq_reson_detail"> <a  class="faq-question">为何米聊中关联的多个联系方式（邮箱）没有显示在云帐号中</a> </li>
                                </ul>
                            </div>
                            </dt>
                            <dd class="dd_r clearfix">
                                <p class="faq_p">帐号绑定邮箱号：密保邮箱，只能唯一。密保邮箱可能是您注册时绑定的或注册后绑定的，用于登陆和找回密码。</p>
                                <p class="faq_p">云服务中关联的邮箱号：当前登录在线并使用云服务的电脑设备，我们允许多个移动设备登录同一云帐号，所以云服务中关联的邮箱号可以为多个。</p>
                                <p class="faq_p">两者本质上没有关联，所以可能会不同。某些情况下也可能相同，如：</p>
                                <p class="faq_p faq_tips_detail" style="margin-left:40px;">云帐号的密保邮箱同时登录了同一云帐号并开启了云同步，也会成为云服务的关联手机设备。</p>
                                <p class="faq_p">相关问题：<a  class="action_link action_link_active1">- 密保是什么，有什么用</a></p>
                            </dd>

                            <dd class="dd_r clearfix">
                                <p class="faq_p">云聊关联的联系方式是没有经过验证的关联信息，用户可以填写多个，但不能作为密保工具用于找回密码和修改密保。</p>
                                <p class="faq_p">云帐号中可见的绑定邮箱是云帐号的密保工具，经过验证并具有唯一性，用于保护帐号安全，找回密码和修改密保。</p>
                                <p class="faq_p">两者本质上不同，绑定密保是帐号的重要组成部分，所以可以在云账户中进行管理。云聊中关联的联系方式作为云聊的特定信息，暂不出现在云帐号中。</p>
                                <p class="faq_p">相关问题：<a  class="action_link action_link_active1">- 密保是什么，有什么用</a></p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <!--第三方绑定-->
                <div class="faq_layout faqSns">
                    <div class="faq_container">
                        <dl class="clearfix">
                            <dt class="dt_l">
                            <div class="faq_reson">
                                <h4 class="faq_reson_title">第三方绑定：</h4>
                                <ul>
                                    <li class="faq_reson_detail">
                                        <!-- <a href="faqSns.html" class="faq-question current">为何无法正常绑定SNS（新浪微博，QQ）</a> -->
                                        <a href="javascript:void(0);" class="faq-question current">为何无法正常绑定SNS（新浪微博，QQ）</a>
                                    </li>
                                </ul>
                            </div>
                            </dt>
                            <dd class="dd_r clearfix">
                                <ul class="faq_tips_container">
                                    <li>
                                        <p class="faq_tips_title">一个SNS只能绑定一个云帐号，此SNS可能已经绑定另一云帐号（您之前可能用此SNS登录过云帐号）</p>
                                        <p class="faq_tips_title">您可以：</p>
                                        <p class="faq_tips_detail">- 在绑定SNS时，选择解绑其绑定的另一帐号</p>
                                    </li>
                                    <li>
                                        <p class="faq_tips_title">一个小米帐号只能绑定同一SNS，此SNS帐号可能与之前绑定的不符。</p>
                                        <p class="faq_tips_title">您可以：</p>
                                        <p class="faq_tips_detail">- 在绑定新SNS时，选择替换原SNS</p>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="more_action">
                <!-- <a href="">登陆</a>-->
                <a>联系我们</a>
            </div>
        </div>
        <div class="suc_botm"></div><!--这个是用于销魂的原角的，此处不放内容-->
    </div>
</div>
<div class="footer faq-footer" style="width:auto; margin-top:45px;">
    <ul class="links">
        <li><a target="_blank">邮箱</a></li>
        <li><a target="_blank">MIUI</a></li>
        <li><a target="_blank">云聊</a></li>
        <li><a target="_blank">云论坛</a></li>
        <li class="copyright"><span>云公司版权所有-京ICP备10046444-京公网安备1101080212535</span></li>
    </ul>
</div>
<!--申请人工审核-->
<div class="wrapper" style="display:none">
    <div class="wrap" >
        <div class="layout">
            <div class="n-frame device-frame" id="main_container">
                <div class="external_logo_area"><a class="klogo" href="javascript:void(0)"></a></div>
                <div class="title-item t_c">
                    <h4 class="title_big30">提示</h4>
                </div>
                <div class="suc_content" style="padding-top:0px;">
                    <div class="appeal-process">
                        <h4>客服申诉流程：</h4>
                        <p><a target="_blank" ><span style="color:#ff7e00;">请点此联系客服寻求帮助</span></a></p>
                        <div class="appeal-process-con clearfix">
                            <p><b>建议您提前准备好以下资料，方便与客服沟通过程中快速确认您的身份信息：</b></p>
                            <p>1.云帐号（邮箱）。</p>
                            <p>2.通过何种途径注册（米聊/论坛/小米官网/MIUI操作系统）。</p>
                            <p>3.注册帐号时所在的地区/常登录地区。</p>
                            <p>4.曾经使用过的密码（越靠前的密码越好，最好提供两个以上）。</p>
                            <p>5.曾经登录过云帐号的手机品牌和型号。</p>
                            <p>6.长期登录过云帐号的<!--手机IMEI号（Android用户填写）-->邮箱。
                <span class="tooltips">
                  <span class="doubt">如何查询?</span>
                  <span class="bubble">
                    <span class="bubble-corner"></span>
                      <!--<span class="bubble-content">手机拨号界面输入" *#06# "，返回的移动通信国际识别码。</span>-->
                  </span>
                </span>
                            </p>
                            <p>7.长期登录过米聊的<!--手机WIFI地址（iPhone米聊用户填写）-->邮箱WIFI地址。
                <span class="tooltips">
                  <span class="doubt">如何查询?</span>
                  <span class="bubble">
                    <span class="bubble-corner"></span>
                    <span class="bubble-content">设置 &gt; 通用 &gt; 关于邮箱 &gt; WIFI（无线局域网）地址</span>
                  </span>
                </span>
                            </p>
                            <p>8.最近一个月内常联系的好友（云聊用户填写）。</p>
                            <p>9.在云服务官网的交易（在云服务官网上面有购物记录的用户填写）。</p>
                            <p>10.论坛昵称（使用过论坛的用户填写）。</p>
                            <p style="color:red">注：以上信息根据个人实际情况填写，完善度越高，申诉流程越快。</p>
                            <form action="" target="_blank">
                                <input type="hidden" value="pwd">
                                <button style="background:#ff6f3d; color:#fff; padding:7px 10px; border:1px solid #ff6f3d; border-radius:4px; cursor:pointer; font-size:14px;" type="submit">申请重置密保</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file='Common/login_footer' />
<include file='Common/footer' />
