<include file='Common/head' />
<script type="text/javascript"> 
var send_mail = <if condition="$send_mail">true<else />false</if>;		    
var reset_send_mail = <if condition="$reset_send_mail">true<else />false</if>;
<if condition="$check_next">		
   <if condition="$click_count elt 8">
	   var is_click = true;
	   var click_count = {$click_count};	       
	   function change_time(){
		  var timeCount=30;
		  var timeTask = setInterval(function(){
			  
			 	var verify_send_button_element = $('.verify-sendbtn');
				timeCount--;
				if(timeCount==0){
					is_click = true;
					
					verify_send_button_element.css("background", 'white').val(v_resend);
					verify_send_button_element.removeAttr("disabled").css("color", '#000');
					timeCount =60;
					clearInterval(timeTask);
					
				}else{
					is_click = false;
					verify_send_button_element.css("background", '#eaeaea').val(v_already_send+'(' + timeCount+ ')');
					verify_send_button_element.attr({"disabled":true}).css("color", '#888');
				}
			},1000);		  
	   }	
	  
	   function ajax_send(){
		  
			var msg = "";
			$.ajax({
				type:'get',
				url:base_module_url + '/Index/sendMail.html?is_ajax=1',
				data:{},				
				dataType:'json',
				success : function(result) {
					
					var  status = result.status;
					switch (status){
						case 0:
							msg = v_operating_fast;
						  break;
						case 1:
							click_count++;
							if(click_count >= 8){
								$('#verify-sendbtn').hide();
							}else{
								change_time();
							}
						  break;
						default:
							msg = v_e_send_failed;
						break;							
					}					
					if(status != 1){
						
						layer.msg(msg,{icon: 0,skin: 'layer-ext-moon'});
					}					
				}
			});
	   }	  
	   $(document).ready(function(){
		   
			if(reset_send_mail){
				
				ajax_send();
			}
			$('#submit_code').click(function(){
				
				getcode.submit();
			});
			if(send_mail){
				
				change_time();
			}
			$('.verify-sendbtn').click(function(){					
				ajax_send()
			});
	   })		  
  </if>	  
  <else />
	$(document).ready(function(){
		
		//验证码点击刷新
		$(".icode_image,#verifyCodeChange").on("click",function(){
			
			refresh_verify_code($('.icode_image'),"forget_verify");			
		});
	
		$('#submit_button').click(function(){
		
			 var check_submit = true;
			 var verify_code_len = 0;
			 var email = $("input[name='email']");
			 var re_email = regular_email;
			 var authcode = $("input[name='icode']");
			 var email_parent_element = email.parent();
			 var email_paremt_p_element = email_parent_element.parent().next();
			 var verify_code_parent_p_element = authcode.parent().parent().next();
			 
			//邮箱验证
			 if(re_email.test(email.val()) == false){
				 
					check_submit = false;				
					email_paremt_p_element.show();
					email_paremt_p_element.children().find('span').text(v_e_input_email);
	
			 }else{
				 
				 email_paremt_p_element.hide();
				 email_parent_element.removeClass('err_label');
			 }
			 //验证码验证
			 verify_code_len = authcode.val().length;
			 if(verify_code_len != 4){
				 
				 check_submit = false;			
				 verify_code_parent_p_element.show();
				 verify_code_parent_p_element.children().find('span').text(v_e_input_verify_code);				 
			 }else{
				 
				 verify_code_parent_p_element.hide();			
			 }
	
			 if(check_submit){
				getpass.submit();			
			 }
	});
});
</if>
</script>
<div class="wrapper">
<div class="wrap">
  <div class="layout">  
  <div class="n-frame device-frame reg_frame">
    <div class="external_logo_area"><a class="klogo" href="{:get_home_url(false)}"><img alt="" src="__PUBLIC__/images/logo.png" style="width: 61px;"></a></div>
    <div class="title-item t_c">
      <h4 class="title_big30" style='text-align: center;'>{$Think.lang.Resetpassword}</h4>
    </div>
     <if condition="$check_next">
	  	<div class='emailevrity' style = 'text-align: center;' >
		  	  <form action="{:getBaseURL()}Home/Index/forgetPassword.html?step=2" method="post" name='getcode'>		  		
		  		<div style='padding: 30px'>
		  			{$Think.lang.Sendcodeto}<span class="" style="color:#f00;">{$email}</span>
		  		</div>		  	
			  	<div class="mod inputsend "> 
				    <label class="input_bg"> <input class="resendinput" type="text" rule="^\d{6,8}$" name="verify_code" placeholder="{$Think.lang.Enteremailcode}" /> </label>
					<input type="button" value='{$Think.lang.Getverifi}' class="verify-sendbtn btn_tip btn_commom btn-submit  btn332 btn_reg_1" id='setmail_verify-sendbtn' style='color:#000;background:white;border: 1px solid #e8e8e8;height: 40px;'>
				    <div  class="wng_capt err_tip err_tip_independ" id="err_set_email_code">  {$error_array.verify_code} </div>
			   </div>
		  		<div class="tip_btns">            
		  		 <input type="button" class="btn_tip btn_commom btn-submit btn332 btn_reg_1 " id='submit_code'  value="{$Think.lang.Determine}">
		  		</div>
		  	</form>
	  	</div>
	  	<else />
	  	 <form action="{:getBaseURL()}Home/Index/forgetPassword.html?step=1" method="post" name='getpass'>
		    <div class="regbox" >
		      <h5 class="n_tit_msg" style="font-size:14px;font-weight:400;margin:10px 0;">{$Think.lang.Email}</h5>      
		      <div class="inputbg" >		       
		        <label class="labelbox labelbox-user" for="user">
		          <input type="text" name="email" id="email" autocomplete="off" value="{$email}"  placeholder="{$Think.lang.Email}" >
		        </label>
		      </div>	
		      <div class="err_tip error-tip-1" <if condition="$error_array.email NEQ ''">style='display:block'</if>>
		        <div class="dis_box">
		          <em class="icon_error"></em>
		          <span id="error-content">{$error_array.email}</span>
		        </div>
		      </div> 
					<div class="inputbg inputcode dis_box">
						<label class="labelbox labelbox-captcha" for="">
							<input id="code-captcha" class="code" type="text" name="icode" placeholder="{$Think.lang.Picturecode}">
						</label>
						<img alt="{$Think.lang.Picturecode}"  title="{$Think.lang.Changepicture}" src="{:getBaseURL()}Home/Index/verify/v/forget_verify/88592264" class="icode_image code-image chkcode_img"  id= "verifyimg"/>
                    	 <a id="verifyCodeChange" style="text-decoration: underline;" href="#" class="pass-change-verifyCode">{$Think.lang.Change}</a>
					</div>
					<div <if condition="$error_array.verify_code NEQ ''">style='display:block'</if> class="err_tip error-tip-2" >
						<div class="dis_box"><em class="icon_error"></em><span id="error-content-2">{$error_array.verify_code} </span></div>
					</div>
		      <!--<div class="country_tips c_b">
		        &nbsp;
		        <a class="fr underline" id="select_country_code" href="javascript:void(0)">{$Think.lang.Help}</a>
		      </div>--> 
		      <div class="fixed_bot">
		       <a style="line-height: 42px;font-size:14px; text-decoration: underline; height: 42px;" href="{:get_login_url(false)}" title="{$Think.lang.Login}">{$Think.lang.Returnlogin}</a>
		        <input class="btn332 btn_reg_1" type="button" style="margin-left: 0px;" id="submit_button" value="{$Think.lang.Nextstep}">   
		      </div>
		    </div>
		  </form>
	 </if>
  </div>
  </div>
</div>
</div>
<include file='Common/login_footer' />
<include file='Common/footer' />