<include file='Common/head' />
<div class="wrapper">
<div class="wrap">
  <div class="layout">  
  <div class="n-frame device-frame reg_frame">
    <div class="external_logo_area"><a class="klogo" href="{:get_home_url(false)}"><img alt="" src="__PUBLIC__/images/logo.png" style="width: 61px;"></a></div>
    <div class="title-item t_c">
      <h4 class="title_big30" style='text-align: center;'>{$Think.lang.Newpassword}</h4>
    </div>  	
	  	 <form action="{:getBaseURL()}Home/Index/resetPassword.html" method="post" id='getpass'>
		    <div class="regbox" >
		      <div class="inputbg" id = 'form-item-pwd'>		       
		        <label class="labelbox labelbox-user" for="new_password">
		        	<div style="font-weight:bold;"> {$Think.lang.Resetpassword} </div>
		        	<input type="password" name="new_password" id="user" autocomplete="off"  placeholder="{$Think.lang.Resetpassword}" value=''/>
		        </label>		       
		      </div>	
		      <div class="err_tip error-tip-1">
		        <div class="dis_box" style="margin-left: 0;">
		          <em class="icon_error"></em>
		          <span id="error-content"></span>
		        </div>
		      </div> 
					<div class="inputbg" id='form-item-pwdRepeat'>
						<label class="labelbox labelbox-user" for="confirm_password"> 
							<div style="font-weight:bold;"> {$Think.lang.ConfirmPassword} </div>
							<input id="code-captcha" class="code" type="password" name="confirm_password" placeholder="{$Think.lang.Pleasepassword}" />
						</label>
					</div>
					<div  class="err_tip error-tip-2"  >
						<div class="dis_box"><em class="icon_error"></em><span id="error-content-2">{$error_array.result} </span></div>
					</div>		   
		      <div class="fixed_bot">
		        <input class="btn332 btn_reg_1" type="button" style="margin-left: 0;" id="submit_button" value="{$Think.lang.Determine}">   
		      </div>
		    </div>
		  </form>	
  </div>
  </div>
</div>
</div>
<include file='Common/login_footer' />
<include file='Common/footer' />