<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$title}</title>
	</head>
	<body>
	<table style="border:1px solid #D9F4FF;width:594px;margin:150px auto;" cellspacing="0" cellpadding="0">
	  <tbody>
		  <tr>
			<td>
				<table style="font-size:14px;" cellspacing="0" cellpadding="0">
					<tbody><tr>
					  <td>
						<table cellspacing="0" cellpadding="0" border="0">
						    <tbody>
							  <tr>
								<td style="padding:20px 16px;color:#333;"><table cellspacing="0" cellpadding="0" border="0">
									<tbody><tr>
									  <td style="height:28px;padding-left:14px;">{$title}</td>
									</tr>
									<tr>
									  <td style="height:28px;padding-left:14px;"> {$message} </td>
									</tr>									
								  </tbody></table></td>
							  </tr>
							</tbody>
						</table>
						</td>
				</tr>
			  </tbody></table>
			</td>
	  </tr>
	</tbody>
	</table>
	</body>
	</html>