<include file="Common/headexception" />
<style type="text/css">
	body {
		font-size:75%;
		font-family:Arial,Helvetica,sans-senif,SimSun,"宋体";
		color:#323232;
		line-height:160%;
		width:100%;
		overflow-x:hidden;
	}
	#tips{
		width: 780px;
		margin: 106px auto;
		border:1px solid #c3c3c3;
		border-radius:8px;
		background-color:#fff;
	}
	#tips a{
		color:#0000ee;
		text-decoration: none;
		cursor:pointer!important;
	}
	#tips a:hover{
		color:#2b89d9;
		text-decoration:underline;
		outline:none;
		blr:expression(this.onFocus=this.blur());
	}
	h3{
		font-size:22px;
		font-weight:500;
		text-align: center;
		margin:2px;
		border-bottom: 1px solid rgb(204, 204, 204);
		padding:10px 0px;
		background-color:#fcfcfc;
	}
	.system-message{
		width:auto;
		height:260px;
	}
	.tips_img{
		margin:15px;
		display:inline-block;
		float:left;
	}
	.tips_message{
		font-size:16px;
		font-weight:400;
		/*!*margin-left:15px;*!
		margin-left:15%;*/
		float:left;
		display:inline-block;
		line-height:24px;

	}
	.message_main{
		margin:15px auto;
		width:700px;
	}
	.error,.success{
		font-size:20px;
		font-weight:500;
	}
	.jump{
		padding-top:8px;
	}
	.tips_message{
		padding-left:12px;
	}
	.tips_message{
		font-size:14px;
		width:95%;
		/*margin-top: -128px;*/
	}
	.error{
		margin:0px 0 -10px 0;
	}
	.tips_message{
		width:auto;
	}
	@media (max-width:480px){
		#tips{
			width:94%;
			margin: 27% 0;
		}

		.error, .success{
			font-size:18px;
		}
		.message_main{
			width:100%;
			/*padding:118px 0px;*/
		}
		.tips_message{
			width:auto;
		}

	}
	@media (min-width:768px) and (max-width:1023px){
		#tips{
			width:94%;
			margin: 27% 0;
		}
		.tips_img{
			margin-top:50px;
		}
		.message_main{
			margin:15px 150px;
		}
		.tips_message{
			width:auto;
		}
	}
	@media screen and (orientation : landscape) {
		body{
			margin:0;
		}
		#tips {
			width: 75%;
			margin:35px auto;
		}
		.tips_message{
			width:auto;
		}
	}
	@media (min-width:1024px){
		#tips {
			width: 780px;
			margin:106px auto;
		}
		.tips_message{
			width:auto;
		}
	}
</style>
<div class="content">
	<div class="contents">
		<div id="tips">
			<div class="system-message">
				<h3>{$Think.lang.InformationPrompt}</h3>
				<div class="message_main">
					<if condition="isset($message)">
					<!--	<div class="tips_img"><img src="__PUBLIC__/images/success.jpg" width="94" alt="success pic" /></div>-->
						<div class="tips_message">
							<p class="success">{$message} </p>
							<else />
							<!--<div class="tips_img"><img src="__PUBLIC__/images/error.jpg" width="95" alt="error pic" /></div>-->
							<div class="tips_message">
								<p class="error">{$error} </p>
					</if>
					<p class="detail"></p>
					<p class="jump">
						{$Think.lang.Page}<a id="href" href="{$jumpUrl}">{$Think.lang.Auto}  </a> , {$Think.lang.Time}  <b id="wait">{$waitSecond}</b> {$Think.lang.Sec}
					</p>
					<p>{$Think.lang.Jump}<a href="{$jumpUrl}" title="click here">{$Think.lang.Click} </a> </p>
					<p>{$Think.lang.Previous}<a href="javascript:void(0);" onclick="javascript:history.go(-1);" title="Go back to the previous page">{$Think.lang.Click}</a> </p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		(function(){
			var wait = document.getElementById('wait'),href = document.getElementById('href').href;
			var interval = setInterval(function(){
				var time = --wait.innerHTML;
				if(time <= 0) {
					location.href = href;
					clearInterval(interval);
				};
			}, 1000);
		})();
	</script>
</div>
</div>
<include file="Common/footerexception"/>